/*登陆页-样式开始*/
html,body{
  height: 100%;
  /* overflow: hidden; */
  padding-bottom: 103px;
}
body{
  margin:0;
  box-sizing: border-box;
  font:14px Helvetica Neue,Helvetica,PingFang SC;
  position:relative;
  background: #f3f3f4;
}
.container:before{
  content:'';
  display:table;
}
.container:after{
  content:'';
  display: table;
  clear:both;
}

.out:before{
  content:'';
  display: table;
  visibility: hidden;
}
.out:after{
  content:'';
  display: table;
  visibility: hidden;
}


.wrapper-content {
    padding: 20px;
    min-height: 768px;
}

.ibox {
    clear: both;
    margin-bottom: 25px;
    margin-top: 0;
    padding: 0;
    min-height: 700px;
    background: #fff;
}

.ibox-title {
    background-color: #fff;
    border-color: #e7eaec;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-style: solid solid none;
    border-width: 4px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}

.content-title{
  -webkit-border-image: none;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}
.content-title h5{
  font-weight: bold;
}

.content-detail{
  padding: 5px 15px 5px;
}
.content-detail span{
  margin-right: 10px;
}

.imgDetail{
  text-align: center;
}

.ibox-content {
    clear: both;
    background-color: #fff;
    color: inherit;
    padding: 15px 20px 20px;
    border-color: #e7eaec;
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}

.no-padding {
    padding: 0!important;
}


.box_iframe{
  height: 700px;
  border:1px solid #fff;
}



