<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>error 404</title>
  <style>
    .container{
      text-align: center;
    }
  </style>

  </head>
  <body>


    <div class="container">
      <img src="/err404/images/timg404.jpg" alt="">
    </div>

  </body>
</html>