/*登陆页-样式开始*/
html,body{
  height: 100vh;
  overflow: auto;
}
body{
  margin:0;
  box-sizing: border-box;
  font:14px Helvetica Neue,Helvetica,PingFang SC;
  position:relative;
}
input,button,select,textarea{outline:none}
textarea{resize:none;}
.container:before{
  content:'';
  display:table;
}
.container:after{
  content:'';
  display: table;
  clear:both;
}

.out:before{
  content:'';
  display: table;
  visibility: hidden;
}
.out:after{
  content:'';
  display: table;
  visibility: hidden;
}



.wrapper .new-list{
  padding-top: 20px;
  background: #eee;
  height: 900px;
  overflow-y: scroll;
}


.new-list>div{
  cursor: pointer;
}

.newspre{
  background: #fff;
  padding:0 5px;
}


#esetion{
  border: 0;
}
